*.dof
*.cfg
*.~dpr
VCL/TeeNew/deleteme.dat
FMX/Demo_XE6/__history/
FMX/Demo_XE6/Android/
FMX/Demo_XE6/Pro/Other/__history/
VCL/TeeNew/Tee9new.drc
VCL/TeeNew/Tee9new.map
VCL/TeeNew/Tee9new.rsm
VCL/TeeNew/Tee9new_MemoryManager_EventLog.txt
FMX/Demo/__history/
FMX/Demo/Database/__history/
FMX/Demo/Database/ChartAsDataset.vlb
FMX/Demo/Export/__history/
__history/*
__history
*.vlb
output/
VCL/TeeNew/Tee9new.nmt
FMX/RingBuffer/Android64/
VCL/RingBuffer/Lazarus/lib/
VCL/RingBuffer/Lazarus/backup/
*.lps
